.venv/
__pycache__/
raw/**
!raw/**/
!raw/**/.gitkeep
wiki/**
!wiki/**/
!wiki/**/.gitkeep
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/plugins/
.obsidian/core-plugins-migration.json
.obsidian/hotkeys.json
.DS_Store
